{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<!-- Header Section Starts -->

<div class="jumbotron" id="HOME"
  style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/zilfa/image/upload/v1620582292/photo-1578766394721-09096658c6e5_g9yywn.jpg');background-size: cover; height: 100vh; background-position:center;">
  <div class="header">
    <h1 style="color: white;font-family: 'Reggae One', cursive;letter-spacing: 3px;">iBABA</h1>
    <p class="fido" style="font-size: 12px;margin-top: -0.35cm;">Creative Space</p>
  </div>
  <div>
    <span class="scroll-btn">
      <a href="#ABOUT">
        <span class="mouse">
          <span>
          </span>
        </span>
      </a>
      <p>scroll me</p>

    </span>
  </div>
</div>

<!-- Header Section Ends -->


<!-- About Section Starts -->

<section id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-6" style="margin-top: 3%;">
        <p style="font-weight: bold;color: rgb(173, 168, 168);">ABOUT US</p>
        <div class="vl"></div>
        <h1>We are a bunch of creatives</h1>
        <br>
        <p>Our creative team will deliver tailor made design and service solutions to create the ultimate image for your
          business.</p>
        <br>
        <div>
          <a href="#"><button type="button" id="ibuto" class="btn">Read More</button></a>
        </div>
      </div>

      <div class="col-1"></div>
      <br> <br>
      <div class="col-4" style="margin-top: 3%;">
        <img src="https://res.cloudinary.com/zilfa/image/upload/v1620592887/idididid_trag2f.png" class="img-fluid"
          alt="">
      </div>
    </div>
  </div>
</section>

<!-- About Section Ends -->

<br><br>
<!-- Services Section Start -->

<section id="SERVICES">
  <div class="container">
    <div style="border-left: 3px solid rgb(160, 155, 155);padding-left: 4px;height: 18px;">
      <p style="color: rgb(160, 155, 155);font-weight: bold;">SERVICES</p> 
    </div><br>
    <h1>What We Do</h1>
    <div class="wedo">
      <br>
      <div class="row">
        <div class="col-4">
          <div id="imgDes" class="textcolor">
            <img src="https://res.cloudinary.com/zilfa/image/upload/v1620390256/images_ykqjz8.png" width="20%" alt="">
            <br> BRANDING
          </div>
          <div id="textDes" style="display: none;" class="texttt">
            <h6>BRANDING</h6>
            <p>If you are a business or any other organization or individual and need a look and feel for your company –
              We
              can do that for you!

              Designs that will be incorporated in our branding process is logo design, business cards, letterheads,
              email
              signatures, social media accounts, web banners...
            </p>
          </div>
        </div>
        <div class="col-4">
          <div id="imgDev" class="textcolor">
            <img src="https://res.cloudinary.com/zilfa/image/upload/v1620400815/images_ofk5bo.png" width="20%"
              alt=""><br>
            WEB
            DESIGN
          </div>
          <div id="textDev" style="display: none;" class="texttt">
            <h6>WEB DESIGN</h6>
            <p>We design eye catching web banners and Facebook cover designs for your brand giving it that edgy and
              professional look. Other digital design services include GIF pictures.
          </div>
        </div>
        <div class="col-4">
          <div id="imgProd" class="textcolor">
            <img src="https://res.cloudinary.com/zilfa/image/upload/v1620390582/images_r1kv3t.png" width="20%"
              alt=""><br>
            PRINT DESIGN
          </div>
          <div id="textProd" style="display: none;" class="texttt">
            <h6>PRINT DESIGN</h6>
            <p>We create professionally designed brochures, catalogs and other print designs. An inexpensive and easy
              way
              to
              promote your company and present information</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          <div id="imgDec" class="textcolor">
            <img src="https://res.cloudinary.com/zilfa/image/upload/v1620395887/epbxx7rn1ceuexflj0qm.png" width="20%"
              alt=""> <br> PHOTO & VIDEO PRODUCTION
          </div>
          <div id="textDec" style="display: none;" class="texttt">
            <h6>PHOTO & VIDEO PRODUCTION</h6>
            <p>Photos and videos are powerful communications tools, but it takes a creative story teller to connect with
              your audience and inspire action. Our mission is to produce persuasive images that help our clients
              connect
              with their audiences on a deeper level.
            </p>
          </div>
        </div>

        <div class="col-sm">
          <div id="imgDez" class="textcolor">
            <img src="https://res.cloudinary.com/zilfa/image/upload/v1620398974/multimedia_icon_set-06-512_ydwtb5.png"
              width="20%" style="margin-top: -0.7cm;"><br>MARKETING AND MEDIA CONSULTANCY
          </div>
          <div id="textDez" style="display: none;" class="texttt">
            <h6>MARKETING AND MEDIA CONSULTANCY</h6>
            <p>Online Marketing involves social media, PR and article circulations, directories, e-advertising,
              e-commerce
              and much more than just registering your website. Thinking—a blend of the traditional, with a dose of
              breaking the rules. Add the infusion of technology, and you have a dynamic new way to create awareness,
              and
              drive sales.
          </div>
        </div>

        <div class="col-sm">
          <div id="imgProc" class="textcolor">
            <img
              src="https://res.cloudinary.com/zilfa/image/upload/v1620396017/event-management-icon-png-pictures-2_qifcgi.png"
              width="20%" alt=""><br> EVENTS MANAGEMENT & CATERING
          </div>
          <div id="textProc" style="display: none;" class="texttt">
            <h6>EVENTS MANAGEMENT & CATERING</h6>
            <p>We manage and cover your events while helping to nurture the individual's wellbeing through conferences,
              team buildings and team development, entertainment events that will bond a family or friends together
              through concerts and high adrenaline rush events.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Section Ends -->

<br><br>

<!-- Portfolio Section Starts -->

<section id="PORTFOLIO">
  <section class="portfolio py-3">
    <div class="container">
      <div style="border-left: 3px solid rgb(160, 155, 155);padding-left: 4px;height: 18px;">
        <p style="color: rgb(160, 155, 155);font-weight: bold;">PORTFOLIO</p> 
      </div><br>
      <h1>Our Projects</h1>
      <div class="hey text-center py-3">
        <div class="control">
          <ul>
            <li class="button active" data-filter="filter">All</li>
            <li class="button active" data-filter="Branding">Branding</li>
            <li class="button active" data-filter="Web">Web Design</li>
            <li class="button active" data-filter="Printing">Print Design</li>
            <li class="button active" data-filter="Photo">Photo & Video</li>
            <li class="button active" data-filter="Marketing">Marketing & Media</li>
            <li class="button active" data-filter="Catering">Event Management & Catering</li>
          </ul>
        </div>
        <div class="row pt-3">
          <div class="col-lg-4">
            <div class="item">
              <img src="https://res.cloudinary.com/zilfa/image/upload/v1620636790/ASEVEN_lyjrek.png"
                class="img-fluid filter Web" style="width: 25rem; height: 15rem;" alt="">
              <span> <i class="fas fa-plus" data-toggle="modal" data-target="#portfoliomod"></i></span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item">
              <img
                src="https://res.cloudinary.com/zilfa/image/upload/v1620720066/photo-1551781069-73a1da89e333_spuqxw.jpg"
                class="img-fluid filter Printing" style="width: 25rem; height: 15rem;" alt="">
              <span> <i class="fas fa-plus" data-toggle="modal" data-target="#portfoliomo"></i></span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item">
              <img src="https://res.cloudinary.com/zilfa/image/upload/v1620636780/AFOUR_smi4xe.png"
                class="img-fluid filter Marketing" style="width: 25rem; height: 15rem;" alt="">
              <span> <i class="fas fa-plus" data-toggle="modal" data-target="#portfoliomoda"></i></span>
            </div>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-lg-4">
            <div class="item">
              <img
                src="https://res.cloudinary.com/zilfa/image/upload/v1620466693/photo-1424223022789-26fd8f34bba2_s2rtfz.jpg"
                class="img-fluid filter Photo" style="width: 25rem; height: 15rem;" alt="">
              <span> <i class="fas fa-plus" data-toggle="modal" data-target="#portfoliomodal"></i></span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item">
              <img src="https://res.cloudinary.com/zilfa/image/upload/v1620646387/ATHREE_mg8mup.png"
                class="img-fluid filter Branding" style="width: 25rem; height: 15rem;" alt="">
              <span> <i class="fas fa-plus" data-toggle="modal" data-target="#portfoliom"></i></span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="item">
              <img
                src="https://res.cloudinary.com/zilfa/image/upload/v1620467227/photo-1523145149804-5d8e0c044753_xyzgha.jpg"
                class="img-fluid filter Catering" style="width: 25rem; height: 15rem;" alt="">
              <span> <i class="fas fa-plus" data-toggle="modal" data-target="#portfolioo"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="portfolio-modal modal fade mt-5" id="portfoliomoda" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-center">
        <div class="modal-body text-center">
          <div class="container-fluid py-3">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <img src="https://res.cloudinary.com/zilfa/image/upload/v1620636780/AFOUR_smi4xe.png"
                  class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade mt-5" id="portfoliomo" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-center">
        <div class="modal-body text-center">
          <div class="container-fluid py-3">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <img
                  src="https://res.cloudinary.com/zilfa/image/upload/v1620720066/photo-1551781069-73a1da89e333_spuqxw.jpg"
                  class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade mt-5" id="portfoliomod" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-center">
        <div class="modal-body text-center">
          <div class="container-fluid py-3">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <img src="https://res.cloudinary.com/zilfa/image/upload/v1620636790/ASEVEN_lyjrek.png"
                  class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade mt-5" id="portfoliomodal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-center">
        <div class="modal-body text-center">
          <div class="container-fluid py-3">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <img
                  src="https://res.cloudinary.com/zilfa/image/upload/v1620466693/photo-1424223022789-26fd8f34bba2_s2rtfz.jpg"
                  class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade mt-5" id="portfoliom" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-center">
        <div class="modal-body text-center">
          <div class="container-fluid py-3">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <img src="https://res.cloudinary.com/zilfa/image/upload/v1620646387/ATHREE_mg8mup.png"
                  class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-modal modal fade mt-5" id="portfolioo" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content text-center">
        <div class="modal-body text-center">
          <div class="container-fluid py-3">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <img
                  src="https://res.cloudinary.com/zilfa/image/upload/v1620467227/photo-1523145149804-5d8e0c044753_xyzgha.jpg"
                  class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Section Ends -->
<br>

<!-- Team Section Starts -->

<section id="TEAM">
  <div class="computer">
    <div class="container">
      <div id="theteam">
        <div class="row">
          <div class="col-4">
            <p style="color: rgb(138, 133, 133);font-weight: bold;">TEAM</p>
            <div class="vl"></div>
            <h1 style="color: white;">Meet Our Team</h1>
            <br>
            <p>In a world where everything is the same, one has to stand out and make a difference.
              We climb the ladder of new ideas and open doors for growth because creativity has no limits nor does it
              freeze;

              our team has its own core of Artistry acquired from years of experience and learning which when blended
              together results to an Artwork masterpiece.</p>
          </div>
          <div class="col-2"></div>
          <div class="col-6">
            <div class="alice">
              <div class="skills">
                <li>
                  <p>GRAPHIC DESIGN<span style="float: right;font-weight: bold;">100%</span></p>
                  <span class="bar"> <span class="graphic"></span> </span>
                </li>

                <li>
                  <p>videography<span style="float: right;font-weight: bold;">90%</span></p>
                  <span class="bar"> <span class="videography"></span> </span>
                </li>


                <li>
                  <p>ILLUSTRATOR<span style="float: right;font-weight: bold;">95%</span></p>

                  <span class="bar"> <span class="illustrator"></span> </span>
                </li>


                <li>
                  <p>WEB DEVELOPMENT<span style="float: right;font-weight: bold;">95%</span></p>
                  <span class="bar"> <span class="web"></span> </span>
                </li>

                <li>
                  <p>PROMOTIONAL MATERIALS<span style="float: right;font-weight: bold;">80%</span></p>
                  <span class="bar"> <span class="promo"></span> </span>
                </li>

                <li>
                  <p>CLIENT SATISFACTION<span style="float: right;font-weight: bold;">70%</span></p>
                  <span class="bar"> <span class="client"></span> </span>
                </li>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="team">
    <div class="container my-3 py-5 text-center">
      <div class="row mb-5">
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <img src="https://res.cloudinary.com/zilfa/image/upload/v1620310224/thierry_tnp2h7.png" alt=""
                class="img-fluid rounded-circle w-50 mb-3">
              <h4>Thierry Uwamungu</h4>
              <h5>Lead Consultant</h5>
              <p>He is a creative and motivated Digital Media Specialist, communication enthusiast with photography
                skills
                and experience in Graphic Design.</p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-twitter">

                    </i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-linkedin">

                    </i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <img src="https://res.cloudinary.com/zilfa/image/upload/v1620310304/mizero_sxc6bm.jpg" alt=""
                class="img-fluid rounded-circle w-50 mb-3">
              <h4>Mizero Divin Thierry</h4>
              <h5>Consultant</h5>
              <p>Highly creative and multitalented graphic designer with extensive experience in web developing,
                promotional material design, social media promotion and multimedia.</p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-twitter">

                    </i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-linkedin">

                    </i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-body">
              <img src="https://res.cloudinary.com/zilfa/image/upload/v1620310295/assumpta_g8igk3.png" alt=""
                class="img-fluid rounded-circle w-50 mb-3">
              <h4>Assumpta Mukeshimana</h4>
              <h5>Consultant</h5>
              <p>Videographer, TV host and news reporter currently chairing a National Mentor-ship program in
                Communication and Journalism in Mass Media Universities in Rwanda.</p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-twitter">

                    </i>
                  </a>
                </div>
                <div class="p-4">
                  <a href="#">
                    <i class="fa fa-linkedin">

                    </i>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Section Ends -->

<br>

<!-- Clients Section Starts -->

<section id="CLIENTS">
  <div class="container">
    <div style="border-left: 3px solid rgb(160, 155, 155);padding-left: 4px;height: 18px;">
      <p style="color: rgb(160, 155, 155);font-weight: bold;">CLIENTS</p> 
    </div><br>
    <h1>Our Clients Partners</h1>
    <br>

    <div class="customer-logos slider">
        <div class="slide"> <img src="https://res.cloudinary.com/zilfa/image/upload/v1620719435/deux_h0rqtq.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719435/une_gvtfmv.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719434/quatre_nxvztc.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719435/sept_gnxxw6.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719435/trois_ggdd2g.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719434/six_reve7a.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719434/cinq_yzekwc.png" alt=""></div>
        <div class="slide"><img src="https://res.cloudinary.com/zilfa/image/upload/v1620719434/huit_r3qoap.png" alt=""></div>
    </div>

  </div>
</section>

<!-- Clients Section Starts -->

<br>

<!-- Blog Section Starts -->

<section id="BLOG">
  <div class="container">
    <div style="border-left: 3px solid rgb(160, 155, 155);padding-left: 4px;height: 18px;">
      <p style="color: rgb(160, 155, 155);font-weight: bold;">BLOG</p> 
    </div><br>
    <h1>Blog Posts</h1>
    <br>

  </div>
</section>

<!-- Blog Section Starts -->

<br>

<!-- Contact Section Starts -->

<section id="CONTACT">
  <div class="alicee">
    <footer>
      <div class="container">
        <div class="main-content">
          <div class="left box">
            <h2>Let's Be Friends</h2>
            <div class="content">
              <p>We depend on our clients’ feedback. We can’t live without them. Besides, your are not just clients,
                whoever we serve, becomes a good friend.</p>
              <div class="social">
                <a href="#"><span class="fab fa-facebook-f"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-linkedin"></span></a>
              </div>
            </div>
          </div>

          <div class="center box">
            <h2>Address</h2>
            <div class="content">
              <div class="place">
                <span class="fas fa-map-marker-alt"></span>
                <span class="text">Kigali-City, Rwanda</span>
              </div>
              <div class="phone">
                <span class="fas fa-phone-alt"></span>
                <span class="text">(250) 788 882 871</span>
              </div>
              <div class="email">
                <span class="fas fa-envelope"></span>
                <span class="text">contact@ibabacs.rw</span>
              </div>
            </div>
          </div>
          <!-- <div class="col-1"></div> -->
          <div class="right box">
            <h2>Contact Us</h2>
            <div class="content">
              <form action="#">
                <div class="email">
                  <!-- <div class="text">Email *</div> -->
                  <input type="text" type="email" id="email" required placeholder="Email...">
                </div>
                <div class="msg">
                  <!-- <div class="text">Message *</div> -->
                  <textarea id="exampleFormControlTextarea1" rows="2" cols="25" required
                    placeholder="Message..."></textarea>
                </div>
                <div class="btn">
                  <button id="submit" type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <center>
          <span class="credit"><a href="#">Ibaba Ltd</a></span>
          <span class="far fa-copyright"></span><span> 2019 All rights reserved.</span>
        </center>
      </div>
    </footer>
  </div>
</section>


<!-- Contact Section Ends -->

<style>

.texttt h6 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    color:black;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.textcolor{
    color:black;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
  .fido:before,
  .fido:after {
    content: '\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin: auto 0.5em;
  }

  h1 {
    font-size: 36px;
    color: rgb(39, 37, 37);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;

  }


  #theteam {
    color: white;
    padding: 50px 0;
  }

  .alice {
    /* background: rgb(138, 133, 133); */
    text-transform: uppercase;
    list-style: none;
    font-size: 13px;
  }

  .skills {
    width: 570px;
    margin: 5px auto;
    color: white;
    /* padding: 20px; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .skills li {
    margin: 1px 0;
    padding: 2px;
  }

  .bar {
    background: black;
    display: block;
    height: 3px;
    border: 1 px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  .bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(248, 246, 246)100%, rgb(109, 106, 106)0%);
  }

  .graphic {
    width: 100%;
    animation: graphic 3s;
  }


  .videography {
    width: 90%;
    animation: videography 3s;
  }

  .illustrator {
    width: 95%;
    animation: illustrator 3s;
  }

  .web {
    width: 95%;
    animation: web 3s;
  }

  .promo {
    width: 80%;
    animation: promo 3s;
  }

  .client {
    width: 70%;
    animation: client 3s;
  }

  @keyframes graphic {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }


  @keyframes videography {
    0% {
      width: 0%;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes illustrator {
    0% {
      width: 0%;
    }

    100% {
      width: 95%;
    }
  }

  @keyframes web {
    0% {
      width: 0%;
    }

    100% {
      width: 95%;
    }
  }

  @keyframes promo {
    0% {
      width: 0%;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes client {
    0% {
      width: 0%;
    }

    100% {
      width: 70%;
    }
  }

  #ibuto {
    background-color: black;
    color: white;
  }

  .header {
    text-align: center;
    margin-left: 9%;
    margin-top: 20%;
    color: white;
  }

  .vl {
    border-left: 3px solid rgb(173, 168, 168);
    height: 18px;
    position: absolute;
    left: 1%;
    /* margin-left: -3px; */
    top: 0;
  }

  .scroll-btn p {
    margin-left: -50px;
  }

  @-webkit-keyframes ani-mouse {
    0% {
      opacity: 1;
      top: 29%;
    }

    15% {
      opacity: 1;
      top: 50%;
    }

    50% {
      opacity: 0;
      top: 50%;
    }

    100% {
      opacity: 0;
      top: 29%;
    }
  }

  @-moz-keyframes ani-mouse {
    0% {
      opacity: 1;
      top: 29%;
    }

    15% {
      opacity: 1;
      top: 50%;
    }

    50% {
      opacity: 0;
      top: 50%;
    }

    100% {
      opacity: 0;
      top: 29%;
    }
  }

  @keyframes ani-mouse {
    0% {
      opacity: 1;
      top: 29%;
    }

    15% {
      opacity: 1;
      top: 50%;
    }

    50% {
      opacity: 0;
      top: 50%;
    }

    100% {
      opacity: 0;
      top: 29%;
    }
  }

  .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 160px 0 0 100px;
  }

  .scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
  }

  .scroll-btn>*:hover,
  .scroll-btn>*:focus,
  .scroll-btn>*.active {
    color: #ffffff;
  }

  .scroll-btn>*:hover,
  .scroll-btn>*:focus,
  .scroll-btn>*:active,
  .scroll-btn>*.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .scroll-btn .mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 35px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 23px;
  }

  .scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -4px 0 0 -1px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;

  }

  .mouse {
    animation: bounce 2.6s infinite;
  }

  @keyframes bounce {
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-55px);
    }

    60% {
      transform: translateY(-60px);
    }
  }

  .control ul li {
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
  }

  .item {
    position: relative;
  }

  .item:hover {
    background: #111;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 7px #979696;
    transition: 0.5s;
  }

  .item span {
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 40px;
    color: black;
    cursor: pointer;
    opacity: 0;
  }

  .item:hover span {
    opacity: 1;
    transition: 0.5s;
  }

  .item::before {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(238, 235, 230, 0.568);
    opacity: 0;
    position: absolute;
  }

  .item:hover::before {
    opacity: 1;
    transition: 0.3s;
  }

  .slick-slide{
    margin: 0 20px;
  }
  .slick-slide img{
    width: 100%;
  }

  .slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
  }

  .slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }

  .slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }

  .slick-slide img{
    display: block;
  }

  .slick-initialized .slick-slide{
    display: block;
  }
  
</style>

{% endblock %}
{% block scripts %}
{{block.super}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script type="text/javascript" src="{%static 'js/scripts.js'%}">
</script>
{% endblock %}